*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#555555;
    font-size:1vh;
}

/*
Mode PC : 
HEADER 8vh
Content 92vh
FOOTER 0vh (pas de footer en mode PC)

Mode Telephone :
HEADER 8vh
Content 84vh
FOOTER(menu) 8vh
*/

body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width:100vw;
    height:100vh;
    background-color: #EFEFEF;
}